
html {
    margin-bottom: 0;
    padding-bottom: 0;
}
body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat";
    
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 20px 0;
}

#container {
    max-width: 600px;
    margin: 0 auto; /* 0 on top, auto on left and right to keep in middle */
    
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background-color 0.8s;
}



#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    
}


.selected {
    background: steelblue;
    color: white;
    
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s; 
    outline: none;  /* REMOVED BLUE OUTLINE CAUSED BY THE BROWSER */
}

button:hover {
    color: white;
    background-color: steelblue;
    
}

#message {
   
   display: inline-block;
    width: 20%;
}

#stripeTwo {

    width: 100%;
    text-align: center;
    background-color: white;
    color: steelblue;
    display: inline-block;
    height: 30px;
    text-transform: uppercase;
    padding-top: 5px;
    font-weight: 800px !important;
    
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}